Package: com.ghost.goapeshipfix
Name: GoApeShipFix
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Loading screen crash fix for Go Ape Ship.
Maintainer: Ghost
Author: Ghost
Section: Tweaks
