Package: com.example.netflixckgui
Name: Netflix CookieInj
Version: 1.0.0
Architecture: iphoneos-arm
Description: Inject Cookies to Netflix
Maintainer: SPX
Author: SPX
Section: Tweaks
Depends: mobilesubstrate
