Package: com.seninadin.dilsihirbazi
Name: DilSihirbazi
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm64
Description: Uygulama dilini Turkceye zorlar.
Maintainer: SPX
Author: SPX
Section: Tweaks
