name: Build NetflixCookieInj

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          brew update
          brew install ldid dpkg git curl

      - name: Clone Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git $HOME/theos

      - name: Build tweak
        run: |
          export THEOS=$HOME/theos
          make clean
          make package

      - name: Upload DEB package
        uses: actions/upload-artifact@v4
        with:
          name: NetflixCookieInj.deb
          path: packages/*.deb
